AGENT_API_BASE_URL=https://intel4ops-core-api.onrender.com/api/v1
AGENT_ORGANIZATION_ID=41f93780-1840-426b-95ed-31a5a4478765
AGENT_WORKER_TOKEN=<paste the token shown ONCE by the worker-credentials command below>
AGENT_POLL_INTERVAL_SECONDS=3
AGENT_HEARTBEAT_INTERVAL_SECONDS=8
LM_STUDIO_BASE_URL=http://localhost:1234
